@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tg {
    display: none;
}

@media (min-width: 990px) {
    .navbar-toggler {
        display: none;
    }
    .tg {
        display: none;
    }
}

a {
    color: currentColor;
    text-decoration: none;
}

:root {
    --bg-color: #c6bade;
    --bg-color2: #b9adcf;
    --bg-color3: red;
    --ff-primary: 'Quicksand', sans-serif;
}

body {
    overflow-x: hidden;
    background-color: var(--bg-color);
}

.col {
    background-color: cadetblue;
}

.minha-cor {
    background-color: aquamarine;
}

#home, #about-me, #works, #contact {
    width: 100vw;
}

.menu-bar {
    top: 0px;
    height: 80px;
    width: 100%;

    transition: 0.3s ease;
    position: absolute;
    z-index: 1;
}

.menu-sc {
    position: fixed;
    top: 7vh;
    width: 28em;
    left: 2em;
    z-index: 1;


    transition: 0.5s ;
    border-radius: 10px;
}

.navbar-brand {
    margin-left: 30px;
}

#link-rodape {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 30pt;
}

.hover-animation {
    position: relative;
}

.hover-animation::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: red;

    transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

.hover-animation:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}



/* Home Style */

#home {
    height: 100vh;
    margin-top: 9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);

    user-select: none;
    position: relative;
}

.home-content {
    height: fit-content;
    justify-content: space-around;
    text-align: left;
    align-items: center;
    display: flex;
    font-family: var(--ff-primary);
    font-weight: 600;
}

.home-content h1 {
    font-size: 4rem;
    width: 45vw;
}

.home-content img {
    width: 35em;
    border-radius: 20em;
}

/* About me Style */

#about-me {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-color);
    position: relative;

    user-select: none;

}

.about-content {
    width: 90vw;
    margin-top: 50px;
    display: flex;
    background-color: var(--bg-color2);
}

/* .about-content p {
    /* display: flex;
    position: relative;

    text-align: left;
    margin-left: 2vw;
    align-self: center;

    font-family: var(--ff-primary);
    font-size: 1.30rem;
    font-weight: 600;
    user-select: none;
}

.about-content p span {
    text-decoration: underline purple;
}

.about-content img {
    height: 70vh;
}  */


/* TEST */

.about-content {
    width: 90vw;
    /* height: 100vh; */
    outline: 1px solid white;
    border-radius: 50px;
}

.about-content p {
    position: relative;
    text-align: left;
    align-self: center;
    margin: 25px;


    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: larger;

}

.about-content img {
    display: block;
    width: 100vw;
    height: 85vh;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}

/* Work */

#works {
    background-color: var(--bg-color);
    height: fit-content;
    width: 100%;

    user-select: none;

}

.image-container {
    margin-top: 8%;
    /* margin-right: 10%; */
    width: 93%;
    height: fit-content;

    display: grid;
    justify-content: center;

    grid-template-columns: 160px 160px 160px;
    grid-auto-rows: 240px;
    gap: 10rem 20%;
}

.image-container img {
    width: 170%;
    height: 340px;
    background-color: var(--bg-color2);
    padding: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.7s ease;
}

.image-container img:hover {
    transform: scale(1.1);
}

.image-container img:nth-child(2), img:nth-child(3) {
    width: 170%;
    height: 340px;
}

.popup-image, .popup-image2, .popup-image3, .popup-image4, .popup-image5, .popup-image6 {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span, .popup-image2 span, .popup-image3 span, .popup-image4 span, .popup-image5 span, .popup-image6 span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img, .popup-image2 img, .popup-image3 img, .popup-image4 img, .popup-image5 img, .popup-image6 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 5px;
    width: 750px;
    height: 100%;
    object-fit: fill;

    width: 60%;
}

@media (max-width: 768px) {
    .popup-image img, .popup-image2 img, .popup-image3 img, .popup-image4 img, .popup-image5 img, .popup-image6 img {
        width: 95%;
        height: auto;
        object-fit: fill;
    }
}

.works-txt {
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 10%;
    margin-bottom: 50px;
}

.works-txt h2 {
    font-family: var(--ff-primary);
    font-size: larger;
    font-weight: 600;
    margin-inline: 20px;
    padding: 20px;
    background-color: var(--bg-color2);
    height: fit-content;

    border: 1px solid white;
    border-radius: 10px;
}

.shorts {
    justify-content: center;
    text-align: center;
    height: 30em;
}

.shorts h2 {
    opacity: 0.7;
}

.shorts-content {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 50%;
}

.shorts img {
    width: 300px;
    height: 300px;
    cursor: pointer;
    margin: 20px;

    transition: 1s ease;
}

.shorts img:hover {
    transform: scale(110%);
}


/* Contact */

#contact {
    height: 25vh;
    background-color: var(--bg-color2);
    justify-content: center;
    position: relative;
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: min-content;
    justify-content: center;
    gap: 20px;
}

.inst-info a {
    cursor: pointer;
    width: min-content;
    display: flex;
    align-items: center;
    gap: 15px;
}

.mail-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-info img {
    width: 3rem;
    height: 3rem;
}


/* Responsive */

@media (max-width: 990px) {
    .navbar-nav {
        position: absolute;
        gap: 10px;
        top: 90%;
        left: 0%;
        background-color: whitesmoke;
        width: 100%;
        height: fit-content;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
        display: none;
    }

    .nav-link {
        margin-left: 30px;
        width: fit-content;
    }
    .nav-link:nth-child(4) {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 990px) {

    /* navbar */
    .menu-sc {
        width: 50%;
    }

    /* Home */
    #home {
        height: 100vh;
        margin-top: 9vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--bg-color);
    
        user-select: none;
        position: relative;
    }

    .home-content {
        display: flex;
        flex-direction: column-reverse;
    }

    .home-content img {
        width: 55%;
    }

    .home-content h1 {
        text-align: center;
        width: 100%;
        font-size: 2rem;
    }

    /* About me */

    #about-me {
        height: min-content;
        width: fit-content;
    }

    .about-content {
        width: fit-content;
        display: flex;
        flex-direction: column;

        margin-inline: 10px;
    }

    .about-content p {
        font-size: medium;
    }

    .about-content img {
        width: 100%;
        height: 30%;
        border-radius: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    /* Works */

    #works {
        height: fit-content;
        width: 100vw;
        margin-top: 70px;
        padding-left: 20px;
    }

    .image-container {
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .image-container img {
        width: 100%;
        height: 100%;
        background-color: var(--bg-color2);
        border-radius: 20px;
    }

    .image-container img:nth-child(2), img:nth-child(3) {
        width: 100%;
        height: 100%;
    }

    .works-txt {
        margin-top: 30%;
        margin-bottom: 50px;
    }

    .shorts {
        height: 100%;
        margin-bottom: 5vh;
    }

    .shorts img {
        width: 144px;
        height: 200px;
    }

    .shorts h2 {
        opacity: 0.7;
    }

    /* Contact */

    #contact {
        height: 25vh;
        width: 100vw;
        background-color: var(--bg-color2);
        justify-content: center;
        position: relative;
    }

    .contact-info img {
        width: 2rem;
        height: 2rem;
    }

    .mail-info h3, .inst-info h3 {
        font-size: 15px;
    }

}